*.ml4.d
*.mli.d
*.ml.d
*.mlpack.d
*.cmi
*.cmo
*.cmx
*.cmxs
*.o
src/gitter
src/pumpkin-git
tst/Test.v
tst/Test_patch.v
tst/TestCut_patch.v
tst/TestModule_patch.v
tst/Test_head_patch.v
tst/Test.v.tmp
*.aux
*.glob
*.vo
src/._bcdi/
src/._d/
dpdgraph/graph.dpd
